@import 'variables';

html{
    overflow-y: scroll;
}

body{
    padding-top: 70px;
    background-color: #eee;
}

.right{
    float: right;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.p-21{
    font-size: 21px;
}

.align-center{
    text-align: center;
}

.user-select{
    display: inline-block;
    width: inherit;
}

.container-after-header-button{
    margin-top: 60px;
}

#mainRegion {
    max-width: 1280px;
    margin: 0 auto;

    > div{
        padding: 90px 20px 20px 20px; 
        position: relative;
        bottom: 55px;
    }
}

#actionsRegion{
    > div > button, a {
        margin-bottom: 30px;
        font-size: 25px;
        width: 100%;
    }
}

.glyphicon{
    top: 2px;
}

.button-header{
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1001;
    width: 100%;

    > * {
        font-size: 16px;
    }
}

.button-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    > * {
        font-size: 16px;
    }
}

.button-bar{
    border-radius: 0;
    border-color: #333;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
    width: 100%;
    min-height: 60px;
}

.orange-button{
    background-color: $themeOrange;
    color: #fff;

    &:focus{
        background-color: $themeOrange;
        color: #fff;
    }

    &:hover, 
    &:active{
        background-color: $themeOrangeDarker;
        color: #fff;
    }
}

.purple-button{
    background-color: $themePurple;
    color: #fff;

    &:focus{
        background-color: $themePurple;
        color: #fff;
    }

    &:hover, 
    &:active{
        background-color: $themePurpleDarker;
        color: #fff;
    }
}

.logo{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.loading-container{
    width: 120px;
    margin: 120px auto;

    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.page-title-bar{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #d5d5d5;

    > a{
        left: 0;
        position: absolute;
    }

    > h3{
        margin-top: 0;
    }
}

.my-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000001;
    display: flex;
    background-color: rgba(95, 94, 94, 0.527);
    justify-content: center;

    .my-modal-box{
        position: absolute;
        top: 30px;
        border-radius: 5px;
        border: 2px solid #333;
        background-color: #fff;
        margin-top: 70px;
        width: 315px;

        .my-modal-title{
            background-color: $themePurple;
            color: #fff;
            font-size: 18px;
            border-bottom: 1px solid #333;
            padding-left: 5px;
        }

        .my-modal-content {
            padding: 20px;
        }
    }
}

.product-grid{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    .product-card{
        padding: 1px;
        flex-grow: 1;
        width: 280px;
        max-width: 280px;
        position: relative;

        button{
            font-size: 18px;
            height: 67px;
            width: 100%;
        }

        .card-icon{
            right: 10px;
            position: absolute;
            top: 10px;
        }
    }
}

.products-extra-button{
    padding-bottom: 5px;
    width: 100%;

    button{
        font-size: 22px;
        width: 100%;
    }
}

.order-list-item{
    text-align: left;
    width: 100%;
    border: 0;

    .orders-item-name{
        height: 30px;
        display: inline-block;

        > p {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            color: #333;
            font-size: 16px;
            height: 16px;
            line-height: 1;
        }
    }

    .orders-item-actions {
        float: right;
        margin-left: 10px;
    }

    .orders-item-cost{
        float: right;

        > p {
            position: relative;
            top: 10px;
            color: #333;
            font-size: 16px;
            line-height: 1;
        }
    }
}

.review-list-item{
    padding: 20px 20px;

    p {
        font-size: 18px;
    }

    .quantity-div{
        > p {
            margin: 0;
        }
    }
}

.pay-form{
    width: 100%;
    display: flex;

    > input{
        margin: 10px 20px;
        font-size: 21px;
    }

    > button{
        flex: 2;
    } 
}

@media(max-width: 400px){
    .pay-form{
        width: 100%;
        display: block;

        > button{
            width: 100%;
        }
    }
} 